<!-- <div class="related">
  <h1 >{{ site.data.settings.related_posts }}</h1>
  {% assign listed_posts_urls = page.url | split: ' ' %}
  <ul class="related-posts">
    {% for tag in page.tags %}
      {% for mypost in site.tags[tag] limit:3 %}
        {% if listed_posts_urls contains mypost.url %}
        {% else %}
          <li>
            <h3>
              <a href="{{ site.github.url }}{{ mypost.url }}">
                {{ mypost.title }}
              </a>
            </h3>
          </li>
          {% assign listed_posts_urls = listed_posts_urls | push: mypost.url %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div> -->

<div class="related">
  <h1 >{{ site.data.settings.related_posts }}</h1>
  <ul class="related-posts">
    <script type="text/javascript">
      var numberOfPosts = 3;
      for (var i = 0; i < tag_order.length; i++) {
        var currTag = tag_order[i];
        var currPosts = tag_dict[currTag];
        var randomIndexUsed = [];
        var counter = 0;
        while (counter < numberOfPosts && counter < currPosts.length) {
          var randomIndex;
          var postHREF;
          var postTitle;
          randomIndex = Math.floor(Math.random() * currPosts.length);
          if (randomIndexUsed.indexOf(randomIndex) == "-1") {
            postHREF = currPosts[randomIndex][0];
            postTitle = currPosts[randomIndex][1];
            document.write('<li><h3><a href="' + postHREF + '">' + postTitle + '</a></h3></li>');
            randomIndexUsed.push(randomIndex);
            counter++;
          }
        }
        numberOfPosts--;
        if (numberOfPosts == 0) break;
      }
    </script>
  </ul>
</div>